<footer class="container-fluid pt-2 pb-1">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column">
            <h3 class="d-inline-flex justify-content-center">Connect with us</h3>
            <ul class="d-inline-flex justify-content-center mb-0 pl-0">
                <li role="menuitem" aria-labelledby="mjm-twitter">
                    <a routerLink="/twitter">
                        <i class="bi bi-twitter" role="img" aria-label="Twitter"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-facebook">
                    <a routerLink="/facebook">
                        <i class="bi bi-facebook" role="img" aria-label="Facebook"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-instagram">
                    <a routerLink="/instagram">
                        <i class="bi bi-instagram" role="img" aria-label="Instagram"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-whatsapp">
                    <a routerLink="/whatsapp">
                        <i class="bi bi-whatsapp" role="img" aria-label="Whatsapp"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-youtube">
                    <a routerLink="/youtube">
                        <i class="bi bi-youtube" role="img" aria-label="Youtube"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-linkedin">
                    <a routerLink="/linkedin">
                        <i class="bi bi-linkedin" role="img" aria-label="LinkedIn"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-center">
            &copy; MJM INVESTMENTS HOLDINGS (PTY) LTD {{year}}
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
            Delivered by&nbsp;<a href="http://" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #B22222;">
                Gagulit</a>
        </div>
    </div>
</footer>