<footer class="container-fluid mt-3 pt-2 pb-1">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column">
            <h3 class="d-inline-flex justify-content-center">Connect with us</h3>
            <ul class="d-inline-flex justify-content-center mb-0 pl-0">
                <li role="menuitem" aria-labelledby="mjm-facebook">
                    <a href="https://www.facebook.com/mj.malapile" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook" role="img" aria-label="Facebook"></i>
                    </a>
                </li>
                <li role="menuitem" aria-labelledby="mjm-instagram">
                    <a href="https://www.instagram.com/mjcarservice/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram" role="img" aria-label="Instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mjm-copyright">
            &copy; MJM INVESTMENTS HOLDINGS (PTY) LTD {{year}}
        </div>

        <div class="col-lg-4 col-md-2 col-sm-12 d-flex justify-content-center">
            <a routerLink="/privacy" style="color: #FF0000;">Privacy</a>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
            Delivered by&nbsp;<a href="" target="_blank" rel="noopener noreferrer" 
                style="text-decoration: none; color: #FF0000;">Gagulit</a>
        </div>
    </div>
</footer>