<mjm-nav></mjm-nav>
<main class="container-fluid mjm-forms-wrap">
    <div class="row mjm-forms-banner">
        <div class="row">
            <div class="col-12 mjm-forms-banner-text">
                Privacy Policy
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <section class="row">
            <ol>
                <li>Your personal information is collected to contact you and engage with you.</li>
                <li>Your personal information is collected when you interact with us 
                    through our website and online platforms or when you contact us telephonically.</li>
                <li>Your name, contact details, vehicle service booking, vehicle service related quotes
                    and engiry messages are the information collected via our website, online platforms
                    or telephonically.</li>
                <li>The validity and quality of your personal information will be confirmed with you
                    when contacting you or engaging with you.</li>
                <li>Your personal information is stored in our client database for the sole purpose of
                    contacting you or engaging with you.</li>
                <li>Your personal information is kept confidential and secure in protected servers that
                    have strict security measures to prevent unlawfull access or hacking.</li>
                <li>Your personal information will not be shared with any third parties without your consent.</li>
                <li>Your personal information will be disposed off securely when it is no longer 
                    required to contact you or when the retainment period has passed.</li>
                <li>Any Cookies on our website that retain your personal information are configured
                    to comply with clauses one to eight as detailed.</li>
                <li>Your personal information will be made available to you on request by calling 0123456789 
                    or emailing privacy@mjmservices.co.za</li>
                <li>Should you wish to have your personal information deleted from our systems, please 
                    contact 0123456789 or email privacy@mjmservices.co.za
            </ol>
        </section>
    </div>
</main>
<mjm-footer></mjm-footer>