<mjm-nav></mjm-nav>
<main class="container-fluid ps-0 pe-0 y-mandatory-scroll-snap" dir="ltr">
    <div>
        <carousel [isAnimated]="true" [pauseOnFocus]="true" [noPause]="true">
            <slide>
                <img src="assets/images/benz-logo-lg.jpg" alt="benz logo" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair36-hide.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair32-hide.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair33.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair17.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair10.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair5.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair13.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair23.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair25.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair27.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair28.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair31.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
            <slide>
                <img src="assets/images/repair34.jpg" alt="" style="display: block; width: 100vw; height: 80vmin;">
            </slide>
        </carousel>
    </div>

    <div class="container mt-4">
        <div class="row">
            <article class="col-12">
                <h1>MJM Service Centre</h1>
                <div class="mjm-intro">
                    <p>Your car needs regular servicing to keep it running smoothly. We service all Mercedes vehicles, petrol and diesel. 
                    We offer both minor and major service depending on your needs. Service can include a full safety and diagnostic check, 
                    along with the replacement or servicing of engine oil, oil filter, spark plugs, brakes, fluid levels, lights and more.</p> 
                </div>
            </article>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12 mjm-banner-wrap">
                <div class="mjm-banner-img">
                    <img src="assets/images/RMIgrey.png" class="img-fluid d-flex justify-content-center" alt="">
                </div>
                <p class="mjm-banner-text"><strong>RMI approved Mercedes Benz Service</strong></p>
            </div>
        </div>
    </div>

    <div class="container-fluid mjm-offer-wrap">
        <div class="container">
            <div class="row mjm-offer-list">
                <div class="col-md-6">
                    <img class="img-fluid rounded" src="assets/images/repair35.jpg" alt="">
                </div>
                <section class="col-md-6">
                    <h2 class="mb-0">What we Offer</h2>
                    <p class="mb-0">MJM Service Centre Offers nonstop solutions for your car service and repairs.
                        Our latest diagnostic technology is able to locate faults on your vehicle, so we can fix it efficiently. We offer:</p>
                    <ul>
                        <li>Vehicle Service/Maintenance</li>
                        <li>Customer Care</li>
                        <li>Road Side Assistance</li>
                        <li>The confidence of knowing that your car is being fitted with genuine parts</li>
                        <li>MJM smart service-A short term servicing contract which covers
                            2x oil change service, over 2 years or an interval of 40 000 km</li>
                        <li>No additional work undertaken without customer prior consent</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <div class="container-fluid mjm-home-cards-wrap">
        <div class="container mjm-home-cards">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a routerLink="/offers">
                        <section class="card">
                            <h5 class="card-title">Minor Service</h5>
                            <div class="card-body">
                                <img src="assets/images/minorSvc.jpg" alt="">
                            </div>
                        </section>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a routerLink="/offers">
                        <section class="card">
                            <h5 class="card-title">Major Service</h5>
                            <div class="card-body">
                                <img src="assets/images/majorSvc.jpg" alt="">
                            </div>
                        </section>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a routerLink="/offers">
                        <section class="card">
                            <h5 class="card-title">Mechanical Repairs</h5>
                            <div class="card-body">
                                <img src="assets/images/mechRep.jpg" alt="">
                            </div>
                        </section>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a routerLink="/offers">
                        <section class="card">
                            <h5 class="card-title">Retail Offers</h5>
                            <div class="card-body">
                                <img src="assets/images/retail.jpg" alt="">
                            </div>
                        </section>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mjm-quote-wrap">
        <div class="container pt-3 pb-3 mjm-quote-container">
            <div class="row">
                <div class="col-12">
                    <p class="mjm-quote-text">Request Quote or Book Service</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="goToQuotes()">Quote</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)='goToBookings()'>Book</button>
                </div>
            </div>
        </div>
    </div>
</main>

<mjm-footer></mjm-footer>