<mjm-nav></mjm-nav>
<main class="container-fluid">
    <div class="row mjm-offers-banner">
        <div class="row">
            <div class="col-12 mjm-offers-banner-text">
                Solutions for your car service and repairs
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ps-0 pe-0">
                <section class="card mjm-offer-card-list">
                    <div class="card-header minor-header"><h3 class="card-title">Minor Service</h3></div>
                    <div class="card-body">
                        <ul class="mb-1">
                            <li>Oil change</li>
                            <li>Oil filter</li>
                            <li>Dust/Aircon filter</li>
                            <li>60 point check</li>
                            <li>Service book update & service reset</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" (click)='goToBookings()'>Book</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)='goToQuotes()'>Quote</button>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-lg-3 ps-0 pe-0">
                <section class="card mjm-offer-card-list">
                    <div class="card-header minor-header"><h3 class="card-title">Major Service</h3></div>
                    <div class="card-body">
                        <ul class="mb-1">
                            <li>Oil change</li>
                            <li>Oil filter</li>
                            <li>Air filter</li>
                            <li>Spark plugs</li>
                            <li>Wiper blades</li>
                            <li>Dust/Aircon filter</li>
                            <li>60 point check</li>
                            <li>Service book update & service reset</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" (click)='goToBookings()'>Book</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)='goToQuotes()'>Quote</button>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-lg-3 ps-0 pe-0">
                <section class="card mjm-offer-card-list">
                    <div class="card-header minor-header"><h3 class="card-title">Major Diesel Service</h3></div>
                    <div class="card-body">
                        <ul class="mb-1">
                            <li>Oil change</li>
                            <li>Oil filter</li>
                            <li>Air filter</li>
                            <li>Diesel filter/Fuel filter</li>
                            <li>Wiper blades</li>
                            <li>Dust/Aircon filter</li>
                            <li>60 point check</li>
                            <li>Service book update & service reset</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" (click)='goToBookings()'>Book</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)='goToQuotes()'>Quote</button>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-lg-3 ps-0 pe-0">
                <section class="card mjm-offer-card-list">
                    <div class="card-header minor-header"><h3 class="card-title">Mechanical Repairs</h3></div>
                    <div class="card-body">
                        <ul class="mb-1">
                            <li>Suspension</li>
                            <li>Electronics</li>
                            <li>Fault finding</li>
                            <li>Bearings</li>
                            <li>Brake system</li>
                            <li>Hand/foot brake repair & adjustment</li>
                            <li>Coolant & oil leaks</li>
                            <li>Gearbox service</li>
                            <li>Timing & sprockets replacement</li>
                            <li>Battery replacement</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="button" (click)='goToBookings()'>Book</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)='goToQuotes()'>Quote</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<mjm-footer></mjm-footer>