$screen-lg-default: 960px;                 // large device-default 992px, 960=tablet landscape
$screen-lg-max-width: 1200px;              // large device maximum width
$screen-md-default: 768px;                 // medium device-tablets
$screen-md-max-width: $screen-lg-default;  // medium device-Set to just below large max
$screen-sm-max-width: 576px;               // small device width

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    //padding-top: 75px;  // push body down to make space for navbar on smaller devices
}
body .grecaptcha-badge { visibility: hidden; }
h1,h2{ 
    color: #B22222;
    font-weight: 900;
}
.y-mandatory-scroll-snap { scroll-snap-type: y mandatory; }
.x-mandatory-scroll-snap { scroll-snap-type: x mandatory; }
.navbar { 
    background-color: #ffffff;
    padding-bottom: 0;
}
.navbar a.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #B22222;
}
.navbar li.nav-item>a.nav-link.mjm-active-nav-link{
    font-weight: 800;
    color: #696969;
    text-decoration: none;
    padding-right: .2rem;
    padding-left: .2rem;
}
//.navbar-nav .bi-twitter, footer .bi-twitter { color: #1da1f2; }
.navbar-nav .bi-facebook, footer .bi-facebook { color: #3b5998; }
.navbar-nav .bi-instagram, 
footer .bi-instagram {
    color: #B22222;
    //color: transparent;
    //background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
}
/*.navbar-nav .bi-whatsapp, 
footer .bi-whatsapp {
    color: #ffffff;
    background: 
        linear-gradient(#25D366,#25D366) 14% 84%/16% 16% no-repeat,
        radial-gradient(#25D366 60%, transparent 0);
}
.navbar-nav .bi-linkedin, footer .bi-linkedin { color: #2867b2; }
.navbar-nav .bi-youtube, footer .bi-youtube { color: #cd201f; }*/
ul.navbar-nav li.nav-item:hover > a > .bi,
ul.navbar-nav li.nav-item:focus > a > .bi,
ul.navbar-nav li.nav-item:active > a > .bi {
    font-weight: 800;
    color: #B22222;
}
footer { background-color: #A9A9A9; }
footer h3 {font-size: 1.2rem; font-weight: 600; margin-bottom: 0;}
footer ul { list-style: none; } 
footer ul li {
    padding-left: 10px;
    padding-right: 10px;
}
footer .bi { 
    font-size:1.5rem;                               
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);  // font icon shadows
    transition: all ease-in-out 150ms;              // shadow transitions on hover
}          
footer ul > li:hover > a > .bi,
footer ul > li:focus > a > .bi,
footer ul > li:active > a > .bi {
    font-weight: 800;
    color: #B22222;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.carousel-indicators [data-bs-target] {
    background-color: #706666;
    border: 5px solid #8B0000;
}
.carousel-indicators button { border-radius: 5rem; }
.mjm-offer-wrap {
    background-color: #f6f7f8;
    margin-top: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.2rem;
}
.mjm-offer-list ul { 
    list-style: none;
    padding-left: 0;
}
.mjm-offer-list ul li {
    padding-left: 2rem;
    padding-top: .1rem;
    text-indent: -.9rem;
}
.mjm-offer-list ul .bi {
    padding-right: .6rem;
    color: #B22222;
}
/*.mjm-offer-list ul>li::marker {
    content: "\f621\00a0\00a0"; // bootstrap wrench + two &nbsp;
    display: inline-block;
    font-family: bootstrap-icons, sans-serif !important;
    font-size: 1.1rem;
}*/
.mjm-home-cards-wrap {
    margin-top: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.mjm-home-cards { 
    display: flex;
    justify-content: center; }
.mjm-home-cards a {
    text-decoration: none;
    color: inherit;
}
.mjm-home-cards .card {
    width: 230px;
    height: 180px;
    border-color:#8B0000;
    margin: .5rem;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.mjm-home-cards .card .card-body {
    border-top:1px solid #8B0000;
    padding: 0;
}
.mjm-home-cards .card:hover,
.mjm-home-cards .card:focus,
.mjm-home-cards .card:active {
    background-color: #8B0000;
    border-top:1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}
.mjm-home-cards .card-title {
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-weight: 800;
    margin-bottom: 0;
}
.mjm-home-cards .card-text { font-size: .9rem; }
.mjm-quote-wrap {
    background: 
        linear-gradient(280deg,#4b1111,#c00b0b, #8B0000);
    color: #ffffff;
}
.mjm-quote-text {
    font-size: 1.8rem;
    font-weight: 600;
}
.mjm-quote-container { text-align: center; }
.mjm-quote-container .btn {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: .2rem;
}
.mjm-quote-container .btn-primary {
    color: #000;
    background-color: #A9A9A9;
    border-color: #c00b0b;
}
.mjm-quote-container .btn-primary:hover {
    background-color: #c00b0b;
    border-color: #A9A9A9;
    color: #ffffff;
}
.mjm-quote-container .btn-primary:focus {
    background-color: #c00b0b;
    border-color: #A9A9A9;
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem #ffffff;
}
.mjm-banner-wrap { text-align: center; }
.mjm-banner-text {
    font-style: italic;
    font-size: 1.2rem;
}
.mjm-banner-img {
    width: 150px;
    height: auto;
    margin: auto;
}
.mjm-offers-banner, 
.mjm-forms-banner {
    background: 
        linear-gradient(180deg,#af2929,#420a0a, #ac2e2e, );
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: .8rem;
}
.mjm-offers-banner-text, 
.mjm-forms-banner-text {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 900;
}
.mjm-offer-card-list {  margin-top: 1rem; }
.mjm-offer-card-list .card-header,
.mjm-offer-card-list .card-footer { text-align: center; }
.mjm-offer-card-list ul { list-style: none; }
.mjm-offer-card-list ul li {
    padding-left: 2rem;
    padding-top: .1rem;
    text-indent: -.8rem;
}
.mjm-offer-card-list ul .bi {
    padding-right: .6rem;
    color: #B22222;
}
.mjm-offer-card-list .btn, 
.mjm-forms-wrap .btn { font-weight: 600; }
.mjm-offer-card-list .btn-primary,
.mjm-forms-wrap .btn-primary {
    background-color: #c00b0b;
    border-color: #8B0000;
}
.mjm-offer-card-list .btn-primary:hover,
.mjm-forms-wrap .btn-primary:hover {
    background-color: #611313;
    border-color: #c00b0b;
}
.mjm-offer-card-list .btn-primary:focus,
.mjm-forms-wrap .btn-primary:focus {
    background-color: #611313;
    border-color: #c00b0b;
    box-shadow: 0 0 0 0.25rem #f51d1d;
}
.mjm-forms-wrap .alert.alert-danger {
    text-align: center;
    font-weight: 800;
}
.mjm-forms-wrap label { font-weight: 600; }
.mjm-forms-confim-btns p    {
    display: flex;
    justify-content: center;
}
.mjm-contacts-disclaimer { color: #FF0000; }
.alert p {
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.form-control, .form-select { width: auto; }
.form-select:focus,.form-select:active,
.form-control:focus, .form-control:active { 
    border-color: #A9A9A9; 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(70, 72, 73, 0.25);
}
.form-check-input:checked {
    background-color: #FF0000;
    border-color: #FF0000;
}
.form-check-input:focus {
    border-color: #FF0000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(70, 72, 73, 0.25);
}

/* Block UI Wrapper (Backdrop) */
div.block-ui-wrapper { background-color: rgba(212, 205, 205, 0.377); }
/* Spinner */
div.block-ui-wrapper .loader {
    border-color: #FF0000; /* Circle color */
    border-left-color: #A9A9A9; /* Spinning section in circle color */
}
/* Message */
div.block-ui-spinner .message {
    color: #611313; /* Loading text color */
    font-weight: 800;
}
.mjm-contacts-header { background-color: #fafafa69; }
.mjm-contacts-details {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}
.mjm-contacts-details section .bi {
    color: #611313;
    font-size: 1.2rem;
    padding-right: .6rem;
}
.mjm-contacts-details section p { padding-left: 4.5rem }
.mjm-contacts-form {
    margin-top: 1.5rem;
    background-color: #f6f7f8;
    padding-bottom: .7rem;
}
.mjm-contacts-form p {
    font-weight: 800;
    font-size: 1rem;
    color: #611313;
    text-align: center;
}

// large and up
@media (min-width: $screen-lg-default) {
    ul.navbar-nav.top-nav li.nav-item:hover > a,
    ul.navbar-nav.top-nav li.nav-item:focus > a,
    ul.navbar-nav.top-nav li.nav-item:active > a {
        font-weight: 800;
        color: #696969;
        text-decoration: none;
        border-bottom-style: ridge;
        border-radius: 5px;
        border-color:#696969;
    }
    .navbar li.nav-item.active-nav-item {
        font-weight: 800;
        color: #696969;
        text-decoration: none;
        border-bottom-style: ridge;
        border-radius: 5px;
        border-color:#696969;
        margin-right: .2rem;
        margin-left: .2rem;
    }
    .mjm-intro { font-size: 1.5rem; }
    .mjm-offer-wrap ul { margin-top: 1.2rem; }
    .mjm-offer-wrap ul>li{ margin-top: 1rem; }
    .mjm-offer-card-list {  margin-right: .5rem; }
}

// large to extra large
@media (min-width: $screen-lg-default) and (max-width: $screen-lg-max-width) {
    .mjm-offer-wrap {
        margin-top: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: .9rem;
    }
    .mjm-offer-list ul>li::marker { font-size: .8rem; }
    .mjm-offer-wrap ul { margin-top: .5rem; }
    .mjm-offer-wrap ul>li{ margin-top: .2rem; }
}

// large & down - for tablet landscape
@media (max-width: $screen-lg-default) {
    body { font-size: .85rem; }
    .h1,h1 { font-size: 2rem; }
    .h2,h2 { font-size: 1.5rem; }
    ul.navbar-nav.top-nav li.nav-item:hover > a,
    ul.navbar-nav.top-nav li.nav-item:focus > a,
    ul.navbar-nav.top-nav li.nav-item:active > a {
        font-weight: 800;
        color: #696969;
        text-decoration: none;
    }
    ul.navbar-nav li.nav-item:focus > a {
        outline: 0;                               // suppress ring around element on touch
        -webkit-tap-highlight-color: transparent; // suppress highlight color on Safari and Chrome touch
    }
    .navbar li.nav-item>a.nav-link.mjm-active-nav-link{
        font-weight: 800;
        color: #696969;
        text-decoration: none;
    }
    .mjm-offer-wrap {
        margin-top: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: .85rem;
    }
    .mjm-offer-list ul>li::marker { font-size: .75rem; }
    .mjm-offer-wrap ul { margin-top: .2rem; }
    .mjm-offer-wrap ul>li{ margin-top: 0; }
    .mjm-offer-list ul li {
        text-indent: -.7rem;
    }
}

// small only
@media (max-width: $screen-sm-max-width) {
    h1 { font-size: 1.8rem; }
    .mjm-offer-wrap { margin-top: 0; }
    .mjm-home-cards-wrap {
        margin-top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .mjm-quote-text { font-size: 1rem; }
    .mjm-offers-banner-text{
        font-size: 1.2rem;
    }
    .mjm-forms-banner {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .mjm-forms-banner-text {
        font-size: 1rem;
    }
    .mjm-contacts-disclaimer small {
        font-size: .69rem;
    }
    .mjm-contacts-form p {
        font-size: .7rem;
    }
    .mjm-offer-card-list ul li {
        text-indent: -.7rem;
    }
    .mjm-copyright { font-size: .7rem; }
}