html {scroll-behavior: smooth;}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Helvetica Neue", "Helvetica", "Arial" sans-serif;
    //padding-top: 75px;  // push body down to make space for navbar on smaller devices
}
.navbar { 
    background-color: #ffffff;
    padding-bottom: 0;
}
.navbar a.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #B22222;
}
ul.navbar-nav.top-nav li.nav-item:hover > a,
ul.navbar-nav.top-nav li.nav-item:focus > a,
ul.navbar-nav.top-nav li.nav-item:active > a {
    font-weight: 800;
    //color: #05052e;
    text-decoration: none;
    border-bottom-style: ridge;
    border-radius: 5px;
    border-color:#696969;
}
/*.navbar li.nav-item >a.nav-link.mjm-active-nav-link { // active navbar item
    text-decoration: none;
    font-weight: 800;
    color: #B22222;
    padding-right: .2rem;   // smaller spacing between active link item text and left/right borders
    padding-left: .2rem;
}*/

.navbar-nav .bi-twitter, footer .bi-twitter { color: #1da1f2; }
.navbar-nav .bi-facebook, footer .bi-facebook { color: #3b5998; }
.navbar-nav .bi-instagram, 
footer .bi-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
}
.navbar-nav .bi-whatsapp, 
footer .bi-whatsapp {
    color: #ffffff;
    background: 
        linear-gradient(#25D366,#25D366) 14% 84%/16% 16% no-repeat,
        radial-gradient(#25D366 60%, transparent 0);
}
.navbar-nav .bi-linkedin, footer .bi-linkedin { color: #2867b2; }
.navbar-nav .bi-youtube, footer .bi-youtube { color: #cd201f; }
ul.navbar-nav li.nav-item:hover > a > .bi,
ul.navbar-nav li.nav-item:focus > a > .bi,
ul.navbar-nav li.nav-item:active > a > .bi {
    font-weight: 800;
    color: #B22222;
}


footer { background-color: #A9A9A9; }
footer h3 {font-size: 1.2rem; font-weight: 600; margin-bottom: 0;}
footer ul { list-style: none; } 
footer ul li {
    padding-left: 10px;
    padding-right: 10px;
}
footer .bi { 
    font-size:1.5rem;                               
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);  // font icon shadows
    transition: all ease-in-out 150ms;              // shadow transitions on hover
}          
footer ul > li:hover > a > .bi,
footer ul > li:focus > a > .bi,
footer ul > li:active > a > .bi {
    font-weight: 800;
    color: #B22222;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}